<nav class="navbar navbar-default navbar-fixed-top navbar-right">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-init='isCollapsed=true' ng-click="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only fancy-font">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href = "/#/">
        <img alt="student" class='logo' src="/public/images/head.gif">
        </a>
      </div>

 <!--    Collect the nav links, forms, and other content for toggling -->
    <div ng-class="{collapse: isCollapsed}" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-hide= 'isLoggedIn()' class='header-text fancy-font' ng-class="{'chosen': isActive('/studentLogin') || isActive('/studentRegister')}"><a href="/#/studentLogin">Student Login</a></li>

        <li ng-hide= 'isLoggedIn()' class='header-text fancy-font' ng-class="{'chosen': isActive('/teacherLogin') || isActive('/teacherRegister')}"><a href="/#/teacherLogin">Teacher Login</a></li>

        <li ng-show= 'isLoggedIn()' class='fancy-font'><a>Logged in as {{showUser.username}}</a></li>

        <li ng-show= 'isLoggedIn()' class='header-text fancy-font' ng-click='logout()'><a>Logout</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav>

<div class = 'sidebar'>
  <ul class="sidebar-nav">

    <li class='header-text fancy-font sidebar-li' ng-class="{'chosen': isActive('/chat')}"><a href="/#/chat">Chat</a></li>

    <li class='header-text fancy-font sidebar-li' ng-class="{'chosen': isActive('/vocab')}"><a href="/#/vocab">Games!</a></li>

    <li ng-show='isTeacher()' class='header-text fancy-font sidebar-li' ng-class="{'chosen': isActive('/teacherinfo')}"><a href="/#/teacherinfo">Teacher</a></li>

    <li ng-show= 'isStudent()'  class='header-text fancy-font sidebar-li' ng-class="{'chosen': isActive('/studentinfo')}"><a href="/#/studentinfo">Stats</a></li>

    <li ng-show= 'isLoggedIn()' class='header-text fancy-font sidebar-li' ng-class="{'chosen': isActive('/flashcards') || isActive('/editflashcards')|| isActive('/createflashcards')}"><a href="/#/flashcards">Flashcards</a></li>

</div>
