body {
  padding: 50px;
  font-family: 'Annie Use Your Telescope', cursive;
}

a {
  color: black;
}

a:active,
a:active:focus,
a:focus,
a:hover{
  text-decoration: none;
}

ul{
  list-style: none;
}
.slackey{
  font-family: 'Slackey', cursive;
}

/*.fancy-font{
  font-family: 'Slackey', cursive;
}*/

.bottom{
  margin-top: 84%;
}

.left-arrow{
  margin-top: 43%;
  margin-right: 12px;
  float: left;
}

.right-arrow{
  margin-top: 43%;
  margin-left: 12px;
}
.navbar-default .navbar-nav>li>a {
  font-size: 20px;
  color: black;
}

.navbar-default .navbar-nav .headerA:hover {
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-nav .nada:hover {
  color: black;
}

.navbar{
  background-color: #00a0b0;
  border: thick black solid;
}

.headerA a:hover{
  color: white;
}

.sidebar-li{
  height: 50px;
  font-size: 25px;
  margin-left: -25px;
}

.sidebar a{
  margin-top: 10px;
}

.sidebar a:hover{
  text-decoration: none;
  color: white;
}

.sidebar-nav{
  list-style: none;
  padding-top: 20px;
}

.sidebar{
  width: 130px;
  float: left;
  background-color: gray;
  height: 100%;
  position: fixed;
  left: 0;
  border: thick black solid;
}

.sidebar-right{
  width: 120px;
  float: right;
  background-color: gray;
  height: 100%;
  position: fixed;
  right: 0;
  border: thick black solid;
}

.chosen a,
.chosen li{
  color: white;
  font-weight: bold;
}

.annie-font{
  font-family: 'Annie Use Your Telescope', cursive;
}

.center{
  text-align: center;
}

.centered{
  display: table;
  margin: auto;
}

.logo{
  height: 43px;
  margin-top: -10px;
}

.vocabGame-box{
  width: 730px;
  height: 455px;
  display: table;
  margin: auto;
  background-image: url('../images/race.jpg');
  background-size: cover;
  border: thick black solid;

}

.user-input-box{
  margin-bottom: -20%;
  width: 112%;
  margin-left: 28px;
}

.timer-box{
  float: right;
  margin-right: 25px;
  border: thick black dashed;
  height: 100px;
  width: 150px;
  text-align: center;
  background-color: #CD853F;
}

.timer-words{
  margin-top: 25%;
}

.vocab-hint-box{
  padding: 5px;
  background-color: #F5F5DC;
  width: 75%;
  border-radius: 25px;
  text-align: center;
}

.correct-box{
  text-align: center;
  background-color:#F5F5DC;
  border: thick green solid;
  width: 250px;
  height: 100px;
}

.wrong-vocab-box{
  text-align: center;
  background-color:#F5F5DC;
  border: thick #c11e1e solid;
  width: 250px;
  height: 100px;
  margin-bottom: -20px;
}

.endgame-box{
  text-align: center;
  background-color:#F5F5DC;
  border: thick purple solid;
  width: 300px;
  height: 100px;
}

.score-box{
  text-align: right;
  margin-right: 35px;
  margin-top: 10px;
}

.login-div{
  width: 60%;
  max-width: 425px;
  margin: auto;
  display: table;
  padding: 15px;
  background-color: #eb6841;
  border-radius: 25px;
  border: thick black solid;
}

.register-div{
  width: 60%;
  max-width: 425px;
  margin: auto;
  display: table;
  padding: 15px;
  background-color: #edc951;
  border-radius: 25px;
  border: thick black solid;
}

.vocab-title{
  margin-bottom: -40px;
}

.edit-title-input{
  height: 35px;
  border-radius: 5px;
  width: 250px;
}

.greenie{
  margin-left: 10px;
  color: green;
}

.hover-icon:hover{
  color: gray;
  cursor: pointer;
  cursor: hand;
}

.hangman-game-box{
  width: 730px;
  height: 455px;
  display: table;
  margin: auto;
  background-image: url('../images/west.png');
  background-size: cover;
  border: thick black solid;
}

.gallows{
  margin-left: 100px;
  position: absolute;
  margin-top: -136px;
}


.alphabet-box{
  text-align: right;
  display: flex;
  float: right;
  margin-right: 35px;
}

.letter{
  width: 24px;
  border: thin black solid;
  background-color: #d15a38;
  font-size: 20px;
  margin-right: 6px;
}

.letter:hover{
  border: thin white solid;
  color: white;
}

.picked{
  background-color: #363636;
  color: black;
}

.game-title{
  color: white;
}

.all-letters{
  margin-top: 30px;
}

.right-box{
  background: #F5F5DC;
  float: right;
  clear: both;
  margin-right: 30px;
  padding: 10px;
  border: thick green solid;
  margin-top: 10px;
  height: 115px;
  padding-left: 5px;
  padding-right: 5px;
}

.wrong-box{
  background: #F5F5DC;
  float: right;
  clear: both;
  margin-right: 30px;
  border: thick #c11e1e solid;
  margin-top: 10px;
  height: 115px;
  padding-left: 5px;
  padding-right: 5px;
}

.end-hangman-box{
  background: #F5F5DC;
  float: right;
  clear: both;
  margin-right: 37px;
  border: thick purple solid;
  margin-top: 10px;
  height: 130px;
  padding-left: 5px;
  padding-right: 5px;
  width: 206px;
  text-align: center;
}

.edit-div{
  width: 300px;
}

.button-box{
  display: flex;
}

.flex{
  display: flex;
}

.chat-room{
  width: 85%;
}

.outer-chat-box{
  height: 500px;
  border: thick black solid;
  width: 80%;
  background-color: #bb3737;
  float: left;
}

.inner-chat-box{
  height: 85%;
  border-bottom: thick black solid;
  background-color: #F5F5DC;
  overflow-y: auto;
}

.chat-input{
  height: 73px;
  font-size: x-large;
  width: 80%;
  border-right: thick black solid;
}

.chat-submit{
  margin-left: 0;
  width: 16%;
  border: none;
  height: 63px;
  font-size: xx-large;
  background-color: #bb3737;
}

.striped-ul{
  margin-left: -40px;
  font-size: 20px;
}

.striped-ul li:nth-child(odd) {
  background: #DCDCDC;
}

.online-user-box{
  width: 18%;
  height: 200px;
  border: thick black solid;
  float: left;
  margin-left: 10px;
  overflow-y:auto;
  background: #DCDCDC;
}

.users-title{
  text-decoration: underline;
  font-weight: bold;
}

.user-ul{
  font-size: 20px;
  margin-top: -10px;
  margin-left: -25px;
}

.game-li{
  font-size: 24px;
}

.edit-icon{
  font-size: 17px;
  color: green;
}

.delete-icon{
  font-size: 17px;
  color: red;
}

.answer-li{
  margin-top: -10px;
}

.move-up{
  margin-top: -31px;
}

.form-control{
  font-size: 19px;
  border: thin black solid;
}

.less-wide{
  width: 50%;
}

.move-left{
  margin-left: -38px;
}

.game-pic-box{
  height: 200px;
}

.game-pic{
  height: 100%;
  border: thick black solid;

}

.clear-sidebar{
  margin-left: 130px;
  margin-right: 120px;
}

.play-btn{
  margin-right: 10px;
  font-size: 20px;
  color: green;
}

.main-pic{
  width: 100%;
  max-width: 1050px;
  border: thick black solid;
}

.title-box{
  border: thick black solid;
  width: 100px;
  height: 200px;
  background-color: white;
}

.bold{
  font-weight: bold;
}

.underline{
  text-decoration: underline;
}

.big-title{
  font-size: 52px;
}

.uppy{
  margin-top: -28px;
}

.logo-title{
  margin-right: 10px;
  border-right: thick black solid;
}

.nada:hover{
  color: black;
}

.higher-btn{
  margin-top: -8px;
}

.flashcard-btns{
  margin-top: 15px;
  margin-left: 15px;
}

.flashcard-front{
  border: thick black solid;
  background-color: #edc951;
}

.flashcard-back{
  border: thick black solid;
  background-color: #eb6841;
}

.mid-card{
  margin-top: 60%;
}

.chat-btn{
  width: 200px;
  font-size: x-large;
  background-color: #eb6841;
  font-weight: bold;
  border: thick black solid;
}

.btn-success{
  border: thin black solid;
}

.btn-danger{
  border: thin black solid;
}

.btn-warning{
  border: thin black solid;
}

.btn-primary{
  border: thin black solid;
}

.word-bubble{
  margin-top: 15px;
  margin-left: 40px;
}

.outer-message-box{
  height: 500px;
  border: thick black solid;
  width: 80%;
  background-color: #edc951;
  float: left;
  border-radius: 25px;
}

.inner-message-box{
  height: 85%;
  border-bottom: thick black solid;
  background-color: #bb3737;
  overflow-y: auto;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  padding-top: 3px;
  color: silver;
}

.message-input{
  height: 73px;
  font-size: x-large;
  width: 80%;
  border-right: thick black solid;
  border-bottom-left-radius: 21px;
}

.message-input:active,
.message-input:focus{
  outline: none;
}

.message-submit{
  margin-left: 0;
  width: 16%;
  border: none;
  height: 63px;
  font-size: xx-large;
  background-color: #edc951;
}

.message-striped-ul{
  margin-left: -40px;
  font-size: 20px;
}

.message-striped-ul li:nth-child(odd) {
  background: silver;
  color: black;
}

.left-col{
  float: left;
  width: 40%
}

.right-col{
  float: right;
  width: 40%
}

.teacher-box{
  width: 70%;
  max-width: 650px;
}

.push-right{
  margin-left: 50px;
}

.game-page{
  margin-top: 10px;
  width: 70%;
  max-width: 500px;
}

.clear-left{
  margin-left: 100px;
}

.top-pic{
  margin-left: -35px;
}

.bottom-pic{
  margin-left: -20px;
}

.btn-purple{
  background-color: #7a4d8b;
  padding: 8px;
  color: white;
  border: thin black solid;
}

.btn-purple:hover,
.btn-purple:disabled,
.btn-purple:active,
.btn-purple:disabled:hover,
.btn-purple:active:focus,
.btn-purple:focus{
  background-color: #613d6f;
  padding: 8px;
  color: white;
}

.btn-orange{
  background-color: #eb6841;
  border: thin black solid;
  color: white;
}

.btn-orange:hover,
.btn-orange:disabled,
.btn-orange:active,
.btn-orange:disabled:hover,
.btn-orange:active:focus,
.btn-orange:focus{
  background-color: #eb6841;
  color: white;
}

.teacher-only{
  display: flex;
}

.pad{
  margin-left: 3px;
}

.resource-url{
  color: #0048b0;
}

.cancel-btn{
  width: 56px;
  margin-left: 10px;
}

.feature-row{
  margin: auto;
  border: thick black solid;
  min-height: 280px;
  margin-bottom: 10px;
  max-width: 1050px;
  display: table;
  color: black;
}

.feature-title-left{
  margin-left: 10px
}

.feature-title-right{
  float: right;
  margin-right: 10px
}

.feature-text-left{
  width: 100%;
}

.feature-text-right{
  margin-right: 10px;
  float: right;
  clear: both;
}

.feature-pic-right{
  margin-left: 30px;
  width: 105%;
  max-width: 300px;
}

.feature-pic-left{
  margin-right: 30px;
  float: right;
  width: 105%;
  max-width: 300px;
}

.flash-pic{
  margin-top: 17px;
  max-width: 224px;
}

.hang-pic{
  margin-top: 35px
}

.reg-pic{
  margin-top: 10px;
  max-width: 200px;
}

.games-pic{
  margin-top: 13px;
  max-width: 300px;
}

.chat-pic{
  margin-top: 10px;
  max-width: 250px;
}

.brown{
  background-color: #DEB887;
}

.tomato{
  background-color: #FF6347;
}
