body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/metal.jpg');
}

a {
  color: #00B7FF;
}

.annie-font{
  font-family: 'Annie Use Your Telescope', cursive;
}

.center{
  text-align: center;
}

.centered{
  display: table;
  margin: auto;
}

.logo{
  height: 43px;
  margin-top: -10px;
}

.vocabGame-box{
  width: 730px;
  height: 455px;
  display: table;
  margin: auto;
  background-image: url('../images/race.jpg');
  background-size: cover;
}

.user-input-box{
  margin-bottom: -20%;
  width: 120%;
  margin-left: 28px;
}

.timer-box{
  float: right;
  margin-right: 25px;
  border: thick black dashed;
  height: 100px;
  width: 150px;
  text-align: center;
  background-color: peru;
}

.timer-words{
  margin-top: 25%;
}

.vocab-hint-box{
  padding: 5px;
  background-color: beige;
  width: 75%;
  border-radius: 25px;
  text-align: center;
}

.correct-box{
  text-align: center;
  background-color:beige;
  border: thick green solid;
  width: 250px;
  height: 100px;
}

.wrong-box{
  text-align: center;
  background-color:beige;
  border: thick red solid;
  width: 250px;
  height: 100px;
}

.endgame-box{
  text-align: center;
  background-color:beige;
  border: thick purple solid;
  width: 250px;
  height: 100px;
}

.score-box{
  position: absolute;
  right: 120px;
  top: 150px;
  text-align: center;
}

.login-div{
  width: 50%;
  margin: auto;
  display: table;
  padding: 10px;
  background-color: beige;
  border-radius: 25px;
}

.register-div{
  width: 50%;
  margin: auto;
  display: table;
  padding: 10px;
  background-color: teal;
  border-radius: 25px;

}
