
<div class = 'centered'>
<h1>Let's Play.</h1>
  <div ng-controller = 'GameCtrl'>

    <h3>Vocab Racer</h3>
    <ul>
      <li class='game-li' ng-repeat='game in games.vocabGames'><a href = '/#/vocabRace'><span ng-click="getPlayGame(game._id)" class = 'glyphicon glyphicon-play-circle play-btn'></span></a>{{game.title}}</li>
    </ul>

    <h3>Hangman</h3>
    <ul>
      <li class = 'game-li' ng-repeat='hangman in games.hangmanGames'>  <a href = '/#/hangman'><span class= 'glyphicon glyphicon-play-circle play-btn' ng-click="getPlayGame(hangman._id)"></span></a>{{hangman.title}}</li>
    </ul>

    <div class = 'game-pic-box centered'>
      <img class ='game-pic' src = '../public/images/racer.png'>
    </div>

    <div class = 'game-pic-box centered'>
      <img class ='game-pic' src = '../public/images/hangman.png'>
    </div>
  </div>
</div>
