<div class = 'clear-sidebar'>
  <br>
  <p class ='center big-title bold'> Connect With your Students...</p>
  <br>

  <h3 class ='center uppy'> and keep them connected to each other.</h3>

  <img class = 'centered main-pic' src = '/public/images/comps.jpg'>

  <h2 class='center'> <span class='bold'>Student Space </span>
  provides a safe and secure place to connects students and teachers</h2>


  <hr>

  <h1 class = 'center bold'> Features </h1>

  <div class = 'feature-row brown'>
    <div class = 'left-col'>
      <div class = 'feature-title-left'>
        <h3 class = 'bold'> Safety for Students, <br>
        Safety for You</h3>
        <hr>
          <div class = 'feature-text-left'>
            <h4>Chat and message in a secure environment.  Only students with your access code can join your room. Language is filtered for students, but teachers can still see the original.  All chat history is saved to provide safety for all parties.</h4>
          </div>
        </div>
      </div>
    <div class = 'right-col'>
      <img class = 'feature-pic-left chat-pic' src = './public/images/chatroom.png'>
    </div>
  </div>

  <div class = 'feature-row brown'>
    <div class = 'right-col'>
      <div class = 'feature-title-right'>
        <h3 class = 'bold'>Share Flashcards <br>
        and Resources</h3>
                <hr>

      </div>
      <div class = 'feature-text-right'>
        <h4>Students can create flashcards for themselves for any subjects.  Teachers can create sets that are shared with all students in their classes.</h4>
      </div>
    </div>
    <div class = 'left-col'>
      <img class = 'feature-pic-right flash-pic' src = './public/images/studentflash.png'>
    </div>
  </div>

  <div class = 'feature-row brown'>
    <div class = 'left-col'>
      <div class = 'feature-title-left'>
        <h3 class = 'bold'>Create And Share Games<br>
        with Your Class</h3>
                <hr>

        <div class = 'feature-text-left'>
          <h4>Teachers can easily create Vocab Racer and Hangman games for their classes.  They can also add and remove links to outside resourses for their students. </h4>
        </div>
      </div>
    </div>
    <div class = 'right-col'>
      <img class = 'feature-pic-left hang-pic' src = './public/images/hangman.png'>
    </div>
  </div>
  <div class = 'feature-row brown'>
    <div class = 'right-col'>
      <div class = 'feature-title-right'>
        <h3 class = 'bold'>Students Chat Together</h3>
                <hr>

      </div>
      <div class = 'feature-text-right'>
        <h4>Students can direct message each other with the same safe filters applied.  This provides a secure, monitored place for chatting, and doesn't exclude those without phones to text.</h4>
      </div>
    </div>
    <div class = 'left-col'>
      <img class = 'feature-pic-right flash-pic' src = './public/images/messaging.png'>
    </div>
  </div>

<br>
<h1 class = 'center bold'> Get Started </h1>
<br>
  <div class = 'feature-row tomato'>
    <div class = 'left-col'>
      <div class = 'feature-title-left'>
        <h3 class = 'bold'><a href = '/#/teacherRegister'>Register a Teacher</a></h3>
        <hr>
          <div class = 'feature-text-left'>
            <h4>Teachers create a unique code to allow students access.  They also give a valid phone number to allow students to alert them when in distress.  (Have no fear, this feature can be disabled completely or by student!)</h4>
          </div>
        </div>
      </div>
    <div class = 'right-col'>
      <img class = 'feature-pic-left reg-pic' src = './public/images/teachreg.png'>
    </div>
  </div>

  <div class = 'feature-row tomato'>
    <div class = 'right-col'>
      <div class = 'feature-title-right'>
        <h3 class = 'bold'>Create Class Goodies</h3>
                <hr>

      </div>
      <div class = 'feature-text-right'>
        <h4>The teacher can now create games and flashcards, as well as add resources for the students to access.  These can all be edited, deleted, or more created at any time.</h4>
      </div>
    </div>
    <div class = 'left-col'>
      <img class = 'feature-pic-right flash-pic' src = './public/images/teacherdash.png'>
    </div>
  </div>

  <div class = 'feature-row tomato'>
    <div class = 'left-col'>
      <div class = 'feature-title-left'>
        <h3 class = 'bold'><a href = '/#/studentRegister'>Students Sign Up!</a></h3>
                <hr>

        <div class = 'feature-text-left'>
          <h4>Now give that code to your students, and voila!  You have a safe and secure Student Space for your class to enjoy.</h4>
        </div>
      </div>
    </div>
    <div class = 'right-col'>
      <img class = 'feature-pic-left games-pic' src = './public/images/games.png'>
    </div>
  </div>
<br><br>

</div>
  <div class = 'credits center'>
  Graphics courtesy of <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon.  </a>Licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a>
  </div>
