<div ng-controller = 'studentRegisterCtrl'>
  <h1 class="text-center">Student Signup</h1>
  <form method="post" ng-submit="studentSignup()" name="signupForm">
    <div class="form-group">
      <input class="form-control input-lg" type="email" id="email" name="email" ng-model="email" placeholder="Email" required autocomplete='off'>
    </div>
    <div class="form-group">
      <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-lg btn-block btn-primary">Register</button>
  </form>
  <br>
  <a href = "/#/studentLogin"><button type='button'class='btn btn-warning centered' ng-click="showRegister = false">Already Have an Account?</button></a>
</div>
