<div ng-controller = 'TeacherCtrl' class= 'center centered teacher-box'>
  <br>
  <ul><h1 class = 'slackey'> Welcome, {{showUser.username}} </h1></ul>

<div ng-show='doneLoading'>
    <div class = 'left-col'>

      <ul><h2>Vocab Race Games</h2>
        <li class= 'game-li' ng-repeat='game in showUser.vocabGames'> {{game.title}}
          <a ng-click='getVocabGame(game._id)' href= '/#/editVocabRace'><span class = 'glyphicon glyphicon-pencil edit-icon'></span>
          </a>
          <a ng-click='deleteVocabGame(game._id)'  href= '/#/teacherinfo'><span class = 'glyphicon glyphicon-trash delete-icon'></span>
          </a>
        </li>
      </ul>
      <ul><a href= '/#/createVocabRace'><button class = 'btn btn-purple'>Make New Vocab Racer</button></a></ul>
      <br><br>
      <ul><h2>Hangman Games</h2>
        <li class = 'game-li' ng-repeat='game in showUser.hangmanGames'>
          {{game.title}}
           <a ng-click='getHangmanGame(game._id)' href= '/#/editHangman'><span class = 'glyphicon glyphicon-pencil edit-icon'></span>
          </a>
          <a ng-click='deleteHangmanGame(game._id)'  href= '/#/teacherinfo'><span class = 'glyphicon glyphicon-trash delete-icon'></span>
        </li>
      </ul>

      <ul><a href= '/#/createHangman'><button class = 'btn btn-purple'>Make New Hangman Game</button></a></ul>
    </div>
    <div class = 'right-col'>
      <ul><h2>Your Students</h2>
      <h4 ng-if ='showUser.disabledAlerts ===false'>Green buttons CAN alert you.<br>  Red buttons CANNOT alert you.</h4>
        <li class ='game-li' ng-repeat='student in showUser.students'>
          <div class = 'student-set'>
            {{student.username}}

            <button ng-if ='student.disabledAlerts ===true && showUser.disabledAlerts ===false'  class = 'btn btn-danger' ng-click='enableStudent(student._id)'>Enable Alerts?
             </button>

            <button ng-if ='student.disabledAlerts ===false && showUser.disabledAlerts ===false'  class = 'btn btn-success' ng-click='disableStudent(student._id)'>Disable Alerts?
            </button>
          </div>
        </li>
      </ul>
      <br> <br>
      <img ng-show = 'processing' class='little-gears  centered' src="./public/images/littlegears.gif">

      <button ng-if ='showUser.disabledAlerts ===true'  class = 'btn btn-danger' ng-click='enableAll()'>Enable ALL Alerts?</button>
      <h4 ng-if ='showUser.disabledAlerts ===true'>Students currently CANNOT send alerts to your phone.</h4>

      <button ng-if ='showUser.disabledAlerts ===false'  class = 'btn btn-success' ng-click='disableAll()'>Disable ALL Alerts?
      </button>
      <h4 ng-if ='showUser.disabledAlerts ===false'>Students currently CAN send alerts to your phone.</h4>
    </div>
  </div>

<img ng-hide = 'doneLoading' class='loading-spinner centered' src="./public/images/loading.gif">


</div>
