<div ng-controller = 'TeacherCtrl' class= 'center centered'>

  <ul><h1> Welcome, {{showUser.username}} </h1></ul>

    <ul><h3>Your Students</h3>
      <li ng-repeat='student in showUser.students'>
        <span class = 'hover-icon' ng-click='getOneStudent(student._id)'>
        {{student.username}} </span>
      </li>
    </ul>

  <ul><h3>Your Games</h3></ul>
    <ul><h4>Vocab Race Games</h4>
      <li ng-repeat='game in showUser.vocabGames'>
        <a ng-click='getVocabGame(game._id)' class = 'hover-icon' href= '/#/editVocabRace'>
        {{game.title}}</a>
      </li>
    </ul>
    <br>
    <ul><a href= '/#/createVocabRace'><button class = 'btn btn-primary'>Make New Vocab Racer</button></a></ul>
    <br><br>
    <ul><h4>Hangman Games</h4>
      <li ng-repeat='game in showUser.hangmanGames'>
        <a ng-click='getHangmanGame(game._id)' class = 'hover-icon' href= '/#/editHangman'> {{game.title}}</button></a>
      </li>
    </ul>

    <ul><a href= '/#/createHangman'><button class = 'btn btn-primary'>Make New Hangman Game</button></a></ul>


  </div>

</div>
