 <div class = 'alphabet-box'>
  <div ng-repeat = 'letter in letterRow1'>
    <button id = '{{letter}}'  class = 'letter' ng-click='guessLetter(letter)' >{{letter}}
    </button>
  </div>
</div>
<br>
<br>
<div class = 'alphabet-box'>
  <div ng-repeat = 'letter in letterRow2'>
    <button id = '{{letter}}'  class = 'letter' ng-click='guessLetter(letter)'> {{letter}}
    </button>
  </div>
</div>
<br>
<br>
<div class = 'alphabet-box'>
  <div ng-repeat = 'letter in letterRow3'>
    <button id = '{{letter}}'  class = 'letter' ng-click='guessLetter(letter)' >{{letter}}
    </button>
  </div>
</div>
<br>
<br>
<div class = 'alphabet-box'>
  <div ng-repeat = 'letter in letterRow4'>
    <button id = '{{letter}}'  class = 'letter' ng-click='guessLetter(letter)' >{{letter}}
    </button>
  </div>
</div>
