<div ng-controller= 'editVocabCtrl' class='container'>
  <br>
<h1>Edit your Vocab Game</h1>

<div ng-hide = 'editingQuestion'>
  <form name='editGameForm' ng-hide='addQuestions'>
    <div class="form-group">
      <label><h3>Game Name/Theme</h3></label>
      <input ng-model='editGame.title' type="text" class="form-inline edit-title-input" placeholder="Bio Vocab"required><button class='btn btn-success' ng-click='updateGameTitle(editGame._id)'>Change Title</button> <span class='greenie' ng-show = 'showUpdateMessage'> Title Updated! </span>
    </div>

<div ng-show='addingQuestion'>
  <h4>Add a New Question </h4>
  <form name= 'editQuestionForm'>
    <div class="form-group">
      <label>Question</label>
      <input ng-model='addQuestionForm.question' type="text" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="hint">Answer</label>
      <input ng-model='addQuestionForm.answer' type="text" class="form-control" required>
    </div>

  </form>

  <button ng-hide = 'addingQuestion' ng-click = 'updateQuestion(editQuestionForm._id)' class='btn btn-primary'>Update Question</button>
  <button ng-click = 'cancel()' class='btn btn-danger'>Cancel</button>

  <button ng-show = 'addingQuestion' ng-click = 'saveQuestion(editQuestionForm._id)' class='btn btn-primary'>Save Question</button>
</div>

     <button ng-hide = 'addingQuestion' ng-click = 'deleteGame(editGame._id)' class='btn btn-danger'>Delete Game</button>

    <button ng-hide = 'addingQuestion' ng-click = 'addQuestionsEditGame()' class='btn btn-primary'>Add Questions</button>

    <ul ng-repeat = 'question in editGame.questions'>
      <li><h3> Question: {{question.question}}</h3></li>
      <li><h3 class='answer-li'> Answer: {{question.answer}}</h3></li>
    <button class = 'btn btn-warning' ng-click = 'getEditQuestion(question._id)'><span class = 'glyphicon glyphicon-pencil'></span></button>  <button class = 'btn btn-danger' ng-click = 'deleteQuestion(question._id)'><span class = 'glyphicon glyphicon-trash'></span></button>
    </ul>

    <br>

  </form>
  <br>

</div>


<div ng-show='editingQuestion'>
  <h3>Edit Question </h3>
  <form name= 'editQuestionForm'>
    <div class="form-group">
      <label><h4>Question</h4></label>
      <input ng-model='editQuestionForm.question' type="text" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="hint"><h4>Answer</h4></label>
      <input ng-model='editQuestionForm.answer' type="text" class="form-control" required>
    </div>
  </form>

  <button ng-click = 'updateQuestion(editQuestionForm._id)' class='btn btn-primary'>Update Question</button>

  <br><br>
  <button ng-click = 'cancel()' class='btn btn-danger'>Cancel</button>
</div>


  <div ng-hide = 'editingQuestion'>
    <ul ><a href = '/#/teacherinfo'><button class='btn btn-success'>Return to Games</button></a></ul>
  </div>


</div>

