<div ng-controller= 'flashcardCtrl' class='container'>

<br>
<h1>Make a New Flashcard Set</h1>

  <form name='addflashcardForm'>
    <div class="form-group">

      <label>Flashcard Set Name/Theme</label>
      <input ng-model='flashcardTitle' type="text" class="form-control" placeholder="Bio Vocab"required>

    </div>

    <button ng-disabled = 'addingQuestions' ng-hide='addingQuestions' ng-click = 'createSet()' type = 'submit' class='btn btn-success'>Create Set</button>
  </form>

  <div ng-show = 'addingQuestions'>
    <form>
      <div class="form-group">
        <label>Question</label>
        <input ng-model='flashcardForm.question' type="text" class="form-control" placeholder="What is the powerhouse of a cell?" >
      </div>

      <div class="form-group">
        <label for="hint">Answer</label>
        <input ng-model='flashcardForm.answer' type="text" class="form-control" placeholder="Mitochondria" >
      </div>

      <button type = 'button' ng-click = 'addMoreQuestions()' class='btn btn-primary'>Add Question</button>

    </form>
    <br>
    <button ng-click = 'finishSet()' class='btn btn-success'>Finish Set</button>

  </div>


<div>
  <br>
  <h5>Current questions for this set: </h5>

  <ul ng-repeat='flashcard in allFlashcards'>
    <li> Question: {{flashcard.question}}</li>
    <li> Answer: {{flashcard.answer}}</li>
  </ul>

</div>


</div>





</div>


