<div ng-controller= 'editFlashcardCtrl' class='container'>
  <br>
<h1>Edit your Flashcard Set</h1>
<div class='greenie' ng-show='showCardUpdateMessage'>
<h4> Question Updated!</h4>
      <br>
</div>
<div class = 'edit-div'>
  <form name='editSetForm' ng-hide='addQuestions'>
    <div class="form-group">
      <label>Set Name/Theme</label>
      <input ng-model='editSet.title' type="text" class="form-control" placeholder="Bio Vocab"required>
      <p class='greenie centered' ng-show = 'showUpdateMessage'> Title Updated! </p>
      <br>
      <button class='btn btn-success centered' ng-click='updateSetTitle(editSet._id)'>Change Title</button>
  </form>
    </div>

    <div ng-repeat = 'flashcard in editSet.flashcards'>
      <form>
        <label>Question:</label>
        <input class = 'form-control' ng-model= 'flashcard.question'>
        <label>Answer:</label>
        <input class = 'form-control' ng-model= 'flashcard.answer'>
        <br>
      <button ng-hide = 'addingQuestion' ng-click = 'updateQuestion(flashcard._id, flashcard.question, flashcard.answer)' class='centered btn btn-primary'>Update</button>
      </form>
    </div>

  <br>


  <br><br>
    <a href = '/#/flashcards'><button class='btn btn-success centered'>Return to Flashcards</button></a>
</div>
</div>



