<br>
<div ng-controller = 'playFlashcardCtrl' class='container'>
  <div>
  <h1 class ='center slackey'>Let's Practice</h1>

  <h2 class ='center'>Flashcard Set: {{editSet.title}}</h2>

  <br>


  <div class = 'centered'>
    <button ng-disabled = 'noLess' ng-click='previousCard()' class = 'btn left-arrow'><span class = 'glyphicon glyphicon-arrow-left' ></span></button>
      <flip flip-show="{{cardFront}}">
        <flip-panel ng-click="toggleCard()" class = 'flashcard-front'>
          <h3 class='center mid-card'>{{current.question}}</h3>
          <p class='center bottom'>Click to see the back</p>
        </flip-panel>
        <flip-panel ng-click="toggleCard()"  class = 'flashcard-back'>
          <h3 class='center mid-card'>{{current.answer}}</h3>
          <p class='center bottom'>Click to see the front</p>
        </flip-panel>
      </flip>
    <button ng-disabled = 'noMore' ng-click='nextCard()' class = 'btn right-arrow'><span class = 'glyphicon glyphicon-arrow-right' ></span></button>
  </div>




</div>













</div> <!-- end flashcardCtrl -->
