<br>
<div ng-controller = 'playFlashcardCtrl' class='container'>
  <div>
  <h1 class ='center slackey'>Let's Practice</h1>

  <h2 class ='center'>Flashcard Set: {{editSet.title}}</h2>

  <br>

  <div class = 'centered' ng-hide='backside'>
    <div class = 'flashcard-front' ng-click='guessCard()'>
      <h3 class='center mid-card'>{{current.question}}</h3>
    </div>
  </div>

  <div class = 'centered' ng-show='backside'>
    <div class = 'flashcard-back' ng-click='nextCard()'>
      <h3 class='center mid-card'>{{current.answer}}</h3>
    </div>
  </div>















</div> <!-- end flashcardCtrl -->
