<br>
<div ng-controller = 'flashcardCtrl' class='less-wide'>
  <div>
  <ul><h1 class ='center slackey'>Flashcards</h1></ul>

  <ul class='centered'><h3 class = 'center'>Your Flashcard Sets</h3>
    <li class = 'center flex' ng-repeat = 'set in showUser.flashcardSets'><h3>{{set.title}}</h3>
      <div class='flashcard-btns'>
        <a href = '/#/editflashcards' ng-click='storeSetId(set._id)'><button class = 'btn btn-warning'><span class='glyphicon glyphicon-pencil'></span></button></a>

        <a href = '/#/playflashcards' ng-click='storeSetId(set._id)'><button class = 'btn btn-success'><span class='glyphicon glyphicon-play'></span></button></a>
      </div>
    </li>
  </ul>
    <br>
  <ul><a href = '/#/createflashcards'><button class = 'centered btn btn-primary'>Create new Set </button></a></ul>
  </div>
</div> <!-- end flashcardCtrl -->

